.App {
    text-align: center;
  }
  
  .form {
    margin: 20px;
    color: rgb(214, 18, 152);
   
  }
  
  label {
    margin: 10px;
    display: block;
    color: black;
    margin-right: 20px;
  }
  
  button {
    margin-top: 20px;
    background-color: yellow;
    padding: 5px;
    border: none;
    font-size: 25px;

  }
  
  .reminders {
    margin: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  h1{
    color: purple;
    font-size: 45px;
  }
  .main{
   background: url("https://cdn.pixabay.com/photo/2022/03/17/06/57/time-7073906_640.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
  }
  select{
    border: none;
    margin-left: 20px;
    background-color: rgb(243, 235, 226);
    font-size: 25px;
  }
  select:focus{
    outline: none;
  }
  label{
    font-size: 25px;
  }
  h2{
    font-size: 35px;

  }
  .reminders ul{
    font-size: 25px;
    
  }

  
  
